@using System.Globalization
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<Domain.Models.ResponseModel.Product>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/assets/css/demo/seafood.css" rel="stylesheet" />
    <style>

        .box-footer {
            overflow: hidden;
            margin:0 10px 0 10px;
        }
            .box-footer div {
                width: auto;
                max-width:1100px;
                border-radius: 8px;
                margin-left: auto;
                margin-right: auto;
            }
                .box-footer div .title {
                    font-size: 16px;
                    width: 100%;
                    padding: 10px;
                    background-color: #dee8fc;
                    color: rgb(7, 171, 226);
                }

            .box-footer .main-content {
                margin-top: -5px;
                min-height: fit-content;
                transition: min-height 1s ease;
                padding: 10px 10px 5px 10px;
                display: flex;
            }

                .box-footer .main-content .box-tab {
                    border: 1px solid white;
                    background-color: white;
                    display: flex;
                    flex-direction: column;
                    -webkit-box-align: center;
                    align-items: center;
                    flex-shrink: 0;
                    cursor: pointer;
                    width: 150px;
                    height: 90px;
                    border-radius: 4px;
                    padding: 15px 0 0 0;
                    border: 1px solid transparent;
                    color: rgb(120, 120, 120);
                }
                    .box-footer .main-content .box-tab img {
                        transition: all 0.4s ease 0s;
                        border-radius: 4px;
                        height: 45px;
                        width: 45px;
                    }

                    .box-footer .main-content .box-tab .tab-text {
                        padding-top: 4px;
                        font-size: 13px;
                        line-height: 18px;
                        text-align: center;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 1;
                        overflow: hidden;
                        display: -webkit-box;
                        word-break: break-word;
                    }

        /*Ghi đè class*/
        .carousel-control:focus, .carousel-control:hover {
            color: hsla(0,0%,100%,.2);
        }

        .carousel-indicators .active {
            background-color: #3b5898;
        }

        .carousel-indicators li {
            background-color: rgb(0 0 0 / 60%);
        }

        .col-lg-9,.col-md-9,.col-xs-9 {
             padding-left: 0 !important; 
        }
    </style>
</head>
<body>
    <div class="container-seafood">
        <div class="header">
            <div class="row">

                <div class="box-header-carouse col-md-8 col-sm-12 menu">
                    <div id="myCarousel" class="header-carousel carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="slides-container-image item active">
                                <img src="https://salt.tikicdn.com/cache/w1080/ts/banner/05/6a/87/32bbe6b7e64db93e68f2515b40d21075.png" />
                                @*<div class="carousel-caption">
                                    <h3>Sell $</h3>
                                    <p>Money Money.</p>
                                </div>*@
                            </div>

                            <div class="slides-container-image item">
                                <img src="https://salt.tikicdn.com/cache/w1080/ts/banner/8a/fe/36/28646f8cde16ef8d8ebea9ca5969a0e2.png" alt="Image">
                                @*<div style="color:black;" class="carousel-caption">
                                    <h3>More Sell $</h3>
                                    <p>Lorem ipsum...</p>
                                </div>*@
                            </div>
                        </div>
                        <!-- Left and right controls -->
                        <a style="background:none;" class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a style="background:none;" class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>

                <div class="box-header-introduce col-md-4 col-sm-12">
                    <div>
                        <img src="https://salt.tikicdn.com/ts/banner/24/ac/fb/d02c66cd12931abca06435b9b789f9f3.png" alt="Image">
                    </div>
                </div>

            </div>
        </div>

        <div class="mainContent">
            <div id="mainContent_grid" class="mainContent_grid">
                @if (Model != null)
                {
                    foreach (var md in Model)
                    {
                        <div class="mainContent_grid_item">
                            <div id=" @md.Id" class="mainContent_card-wrapper" onclick="gridItemClick(this)">
                                <div class="mainContent_card-price__pecent">
                                    @md.Discount
                                </div>
                                <div class="mainContent_card-img">
                                    <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/4/h/4h43.png" alt="Alternate Text" />
                                </div>
                                <div class="mainContent_card-content">
                                    @md.Description
                                </div>
                                <div class="mainContent_card-reviewProd">
                                    @if (md != null)
                                    {
                                        if (md.ReviewProd == null || md.ReviewProd == 0)
                                        {
                                        }
                                        else if (md.ReviewProd == 1)
                                        {
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                        }
                                        else if (md.ReviewProd == 1.5)
                                        {
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star-half-stroke"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                        }
                                        else if (md.ReviewProd == 2)
                                        {
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                        }
                                        else if (md.ReviewProd == 2.5)
                                        {
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star-half-stroke"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                        }
                                        else if (md.ReviewProd == 3)
                                        {
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                        }
                                        else if (md.ReviewProd == 3.5)
                                        {
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star-half-stroke"></i>
                                            <i class="fa-regular fa-star"></i>
                                        }
                                        else if (md.ReviewProd == 4)
                                        {
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                        }
                                        else if (md.ReviewProd == 4.5)
                                        {
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star-half-stroke"></i>
                                        }
                                        else if (md.ReviewProd >= 5)
                                        {
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        }
                                    }
                                    else
                                    {
                                    }
                                </div>
                                <div class="mainContent_card-price">
                                    <div class="mainContent_card-price__main">
                                        @string.Format(new CultureInfo("de-DE"), "{0:N0}", md.PriceSale) đ
                                    </div>
                                    <div class="mainContent_card-price__sale">
                                        @string.Format(new CultureInfo("de-DE"), "{0:N0}", md.Price) đ
                                    </div>
                                </div>
                                <div class="mainContent_card-descPromotion">
                                    @md.DescPromotion
                                </div>
                                @if (string.IsNullOrEmpty(md.Favourite))
                                {
                                    <div class="mainContent_card-favourite">
                                        <span>Yêu thích</span>
                                        <i id="@md.FavouriteId" class="fa-regular fa-heart" onclick="favouriteClick(this)"></i>
                                    </div>
                                }
                                else
                                {
                                    <div class="mainContent_card-favourite">
                                        <span>Yêu thích</span>
                                        <i id="@md.FavouriteId" class="@md.Favourite" onclick="favouriteClick(this)"></i>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                }
            </div>
        </div>

        <div class="box-footer">
            <div>
                <div class="title">
                    Gợi ý hôm nay
                </div>
                <div class="main-content">
                    @for (int i = 0; i <= 6; i++)
                    {
                        string id = "box_tab" + i;
                        <div id="@id" class="box-tab">
                            <img src="https://salt.tikicdn.com/cache/w1080/ts/banner/05/6a/87/32bbe6b7e64db93e68f2515b40d21075.png" />
                            <div class="tab-text">
                                Giảm giá sốc
                            </div>
                        </div>
                    }
                </div>
            </div>        
        </div>
    </div>
    <script>
        //Setup
        var favourite = false;
        $('.box-tab').click(function (e)
        {
            for (var i = 0; i <= 6; i++)
            {
                var id = "box_tab" + i;
                var elem = document.getElementById(id);
                elem.style.color = "rgb(120, 120, 120)";
                elem.style.borderColor = "transparent";
            }
            var dom = this;
            var elemSetColor = document.getElementById(dom.id);
            elemSetColor.style.color = "rgb(7, 171, 226)";
            elemSetColor.style.borderColor = "rgb(7, 171, 226)";
        });
        $('#box_search_order_input').on('focus', function () {
            document.getElementById("box_search_order").style.borderColor = "rgb(7, 171, 226)";
        });
        $('#box_search_order_input').on('blur', function () {
            document.getElementById("box_search_order").style.borderColor = "rgb(196, 196, 207)";
        });
        //Setup
        function gridItemClick(item)
        {
            if (favourite)
            {
                favourite = false;
                return;
            }

            if (item.id != null && item.id != undefined && item.id != '')
            {
                $("#loading").show();
                var delayInMilliseconds = 5000;
                setTimeout(function () {
                    $("#loading").hide();
                }, delayInMilliseconds);
                window.location = "/ProdDetailt/Detailt?prodId=" + item.id;
            }
            else
            {
                showToasinette_Error_Top_Right();
            }
        }

        function favouriteClick(item)
        {
            favourite = true;
            const element = document.getElementById(item.id);
            if (element.className == "fa-regular fa-heart")
            {
                element.className = "fa-solid fa-heart";
            } else
            {
                element.className = "fa-regular fa-heart";
            }

            $.ajax({
                type: "POST",
                traditional: true,
                data:
                {
                    "id": JSON.stringify(item.id),
                    "className": JSON.stringify(element.className),
                },
                url: "@Url.Action("ExecuteToFavourite", "Shared")",
                success: function (data)
                {
                },
            })
        }
    </script>
</body>
</html>


