
@{
    Layout = "~/Views/Account/_LayoutAccount.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/assets/css/demo/account/forgot-password.css" rel="stylesheet" />
    <script src="https://www.gstatic.com/firebasejs/9.12.1/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.12.1/firebase-auth-compat.js"></script>
    <style>
        /*Ghi đè class*/
        .box-forgot-form .box-input-login input:focus {
            outline: none;
        }
    </style>
</head>
<body>
    <div class="box-forgot-form">
        <div class="header">
            <i id="icon_backLoginPage" onclick="backLoginPage()" class="fa-solid fa-arrow-left"></i>
            Đặt lại mật khẩu
        </div>

        <div id="sender">
            <div id="box_login_form_number" class="box-input-login">
                <input id="number" maxlength="10" placeholder="Số Điện Thoại">
            </div>
            <span class="validate-error" id="alert_verify_number"></span>
            <div id="recaptcha-container"></div>
            <span class="validate-error" id="alert_verify_captcha"></span>
            <button id="send" class="btn-login btn-core-accept" onclick="checkPhoneNumber()">Tiếp theo</button>
        </div>
        <div id="verifier" style="display:none;">
            <div id="box_login_form_verificationcode" class="box-input-login">
                <input id="verificationcode" maxlength="6" placeholder="OTP Code">
            </div>
            <span class="validate-error" id="alert_verify_code"></span>
            <button id="verify" class="btn-login btn-core-accept" onclick="codeverifyForgotPw()">Xác thực</button>
        </div>
        <div id="changePw" style="display: none;">
            <div id="box_login_form_verificationcode" class="box-input-login">
                <input type="password" id="new_password" maxlength="100" placeholder="Mật Khẩu Mới">
                <i id="hide_password" class="icon-show-password fa fa-eye-slash" aria-hidden="true"></i>
                <i id="show_password" style="display:none;" class="icon-show-password fa fa-eye" aria-hidden="true"></i>
            </div>
            <span class="validate-error" id="alert_verify_password"></span>
            <button class="btn-login btn-core-accept" onclick="executeChangePassword()">Cập nhật</button>
        </div>
    </div>
    @*add firebase SKD*@
    <script src="https://www.gstatic.com/firebasejs/6.0.2/firebase.js"></script>
    <script>
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        const firebaseConfig = {
            apiKey: "AIzaSyB3cIFVAjP_ikN14nOw_MSXS4r-TwzqtUE",
            authDomain: "seafood-30e97.firebaseapp.com",
            projectId: "seafood-30e97",
            storageBucket: "seafood-30e97.appspot.com",
            messagingSenderId: "686431378592",
            appId: "1:686431378592:web:3376c73d2a05f431c53dc5",
            measurementId: "G-DNQGCSB39Q"
        };
        // initializing firebase SDK
        firebase.initializeApp(firebaseConfig);
        // render recaptcha verifier
        render();
        function render()
        {
            window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('recaptcha-container');
            recaptchaVerifier.render();
        }
        function checkPhoneNumber()
        {
            ShowOverlay(true);
            var number = document.getElementById('number').value;
            if (isNullOrEmpty(number))
            {
                hideOverlay();
                $('#alert_verify_number').html('Nhập số điện thoại');
                $('#alert_verify_number').fadeIn(500);
                setTimeout("$('#alert_verify_number').fadeOut(1500);", 5000);
                return;
            }
            $.ajax({
                type: "POST",
                traditional: true,
                data:
                {
                    "number": number,
                },
                url: "@Url.Action("CheckUserByPhoneNumber", "Account")",
                success: function (data)
                {
                    hideOverlay();
                    if (!data.Success) {
                        $('#alert_verify_number').html(data.Message);
                        $('#alert_verify_number').fadeIn(500);
                        setTimeout("$('#alert_verify_number').fadeOut(1500);", 5000);
                        return;
                    }
                    else if (data.Success && data.Data == null)
                    {
                        $('#alert_verify_number').html('Số điện thoại chưa đăng ký');
                        $('#alert_verify_number').fadeIn(500);
                        setTimeout("$('#alert_verify_number').fadeOut(1500);", 5000);
                        return;
                    }
                    phoneAuthForgotPw();
                },
            })
        }
        // function for send OTP
        function phoneAuthForgotPw()
        {
            ShowOverlay(true);
            var number = document.getElementById('number').value;
            $.ajax({
                type: "POST",
                traditional: true,
                data:
                {
                    "number": number,
                },
                url: "@Url.Action("CheckCodeFirebase", "Account")",
                success: function (data)
                {
                    if (!data.Success || !data.Data)
                    {
                        hideOverlay();
                        $('#alert_verify_number').html('Mã OTP đã được gửi, vui lòng kiểm tra. <br/> Thời gian chờ gửi lại mã là 5 phút');
                        $('#alert_verify_number').fadeIn(500);
                        setTimeout("$('#alert_verify_number').fadeOut(1500);", 60000);
                        return;
                    }
                    else
                    {
                        var numberfirebase = '+84' + number.substring(1);
                        firebase.auth().signInWithPhoneNumber(numberfirebase, window.recaptchaVerifier).then(function (confirmationResult)
                        {
                            document.getElementById('icon_backLoginPage').style.display = 'none';
                            document.getElementById('sender').style.display = 'none';
                            document.getElementById('verifier').style.display = 'block';
                            window.confirmationResult = confirmationResult;
                            coderesult = confirmationResult;
                            $.ajax({
                               type: "POST",
                               traditional: true,
                               data:
                               {
                                   "number": number,
                               },
                               url: "@Url.Action("UpdateCodeFirebase", "Account")",
                               success: function (data)
                               {
                               },
                            })
                        }).catch(function (error)
                        {
                            // error in sending OTP
                            $('#alert_verify_captcha').html(error.message);
                            $('#alert_verify_captcha').fadeIn(500);
                            setTimeout("$('#alert_verify_captcha').fadeOut(1500);", 60000);
                        });
                    }
                    setTimeout(function () {
                       hideOverlay();
                    }, 500); 
                },
            })
        }
        // function for OTP verify
        function codeverifyForgotPw()
        {
            ShowOverlay(true);
            var number = document.getElementById('number').value;
            var code = document.getElementById('verificationcode').value;
            if (isNullOrEmpty(number) || isNullOrEmpty(code))
            {
                setTimeout(function () {
                    hideOverlay();
                }, 500);
                $('#alert_verify_code').html('Nhập mã code đã được gửi');
                $('#alert_verify_code').fadeIn(500);
                setTimeout("$('#alert_verify_code').fadeOut(1500);", 5000);
                return;
            }
            coderesult.confirm(code).then(function ()
            {
                 $.ajax({
                    type: "POST",
                    traditional: true,
                    data:
                    {
                        "number": number,
                        "code": code
                    },
                    url: "@Url.Action("UpdateCodeFirebase", "Account")",
                    success: function (data)
                    {
                        if (data.Success && data.Data)
                        {
                            document.getElementById('verifier').style.display = 'none';
                            document.getElementById('changePw').style.display = 'block';
                        }
                        else
                        {
                            $('#alert_verify_code').html('Đã có lỗi xảy ra, vui lòng thử lại');
                            $('#alert_verify_code').fadeIn(500);
                            setTimeout("$('#alert_verify_code').fadeOut(1500);", 5000);
                        }
                        hideOverlay();
                    },
                 })
            }).catch(function ()
            {
                hideOverlay();
                $('#alert_verify_code').html('Mã code không chính xác');
                $('#alert_verify_code').fadeIn(500);
                setTimeout("$('#alert_verify_code').fadeOut(1500);", 5000);
            })
        }

        //Setup
        function executeChangePassword()
        {
            ShowOverlay(true);
            var number = document.getElementById('number').value;
            var code = document.getElementById('verificationcode').value;
            var newPassword = document.getElementById('new_password').value;
            if (isNullOrEmpty(newPassword))
            {
                setTimeout(function () {
                    hideOverlay();
                }, 500);
                $('#alert_verify_password').html('Nhập mật khẩu mới');
                $('#alert_verify_password').fadeIn(500);
                setTimeout("$('#alert_verify_password').fadeOut(1500);", 5000);
                return;
            }
            $.ajax({
               type: "POST",
               traditional: true,
               data:
               {
                   "number": number,
                   "code": code,
                   "newPassword": newPassword
               },
               url: "@Url.Action("ChangePwByCodeFirebase", "Account")",
               success: function (data)
               {
                  hideOverlay();
                  if (data.Success)
                  {
                      window.location = "/Home/Seafood";
                  }
                  else
                  {
                      alert('Có lỗi trong quá trình xử lý');
                  }
                  
               },
            })
        }
        $(document).ready(function ()
        {
            if ('@ViewBag.Message' != '')
            {
                $('#alert_login').html('@ViewBag.Message');
                $('#alert_login').fadeIn(500);
                setTimeout("$('#alert_login').fadeOut(1500);", 5000 );
            };
        });
        $('#number').on('focus', function () {
            document.getElementById("box_login_form_number").style.borderColor = "rgb(7, 171, 226)";
        });
        $('#number').on('blur', function () {
            document.getElementById("box_login_form_number").style.borderColor = "rgba(0,0,0,.14)";
        });
        $('#verificationcode').on('focus', function () {
            document.getElementById("box_login_form_verificationcode").style.borderColor = "rgb(7, 171, 226)";
        });
        $('#verificationcode').on('blur', function () {
            document.getElementById("box_login_form_verificationcode").style.borderColor = "rgba(0,0,0,.14)";
        });
        //Setup
        function backLoginPage()
        {
            window.location = "/Account/Login";
        }
        $('.icon-show-password').click(function (e)
        {
            var dom = this;
            if (dom.id == 'hide_password') {
                document.getElementById("show_password").style.display = "block";
                document.getElementById("hide_password").style.display = "none";
                document.getElementById("new_password").setAttribute('type', 'text');
            }
            else
            {
                document.getElementById("show_password").style.display = "none";
                document.getElementById("hide_password").style.display = "block";
                document.getElementById("new_password").setAttribute('type', 'password');
            }
        });
    </script>
</body>
</html>
