@using Seafood.Models;
@using Domain.Models.ResponseModel;
@using Domain.Constant
@using Service.Helpers

@{  
    UserData user = null;
    try
    {
        var httpContextBase = new HttpContextWrapper(HttpContext.Current);
        user = Seafood.MemCached.Authenticator.CurrentUser(httpContextBase);
    }
    catch
    {

    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seafood</title>
    @Styles.Render("~/bundles/css")
    @Styles.Render("~/bundles/js")
    <link href="~/assets/css/demo/layout.css" rel="stylesheet" />
    <link href="~/assets/css/theme.css" rel="stylesheet" />
    <script src="~/assets/js/constant.js"></script>
    @*master-plan*@
    <script src="~/assets/helpers/master-plan/adr_common.js"></script>
    <script src="~/assets/helpers/master-plan/iosOverlay.js"></script>
    <link href="~/assets/helpers/master-plan/style.css" rel="stylesheet" />
    @*cssscript*@
    <link rel="stylesheet" href="~/assets/helpers/toastinette-notification-main/assets/css/toastinette.min.css">
    <link rel="stylesheet" href="~/assets/helpers/toastinette-notification-main/assets/css/style.css">
    <script src="~/assets/helpers/toastinette-notification-main/assets/js/toastinette.js"></script>
    <link rel="stylesheet" href="~/assets/helpers/three-dots-master/dist/three-dots.css">
    <script src="~/assets/helpers/Prompt-Boxes-master/src/js/prompt-boxes.js"></script>
    <link rel="stylesheet" href="~/assets/helpers/Prompt-Boxes-master/src/css/prompt-boxes.css">
    <link rel="stylesheet" type="text/css" href="~/assets/helpers/tui.pagination-3.4.0/examples/css/tui-example-style.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/helpers/tui.pagination-3.4.0/dist/tui-pagination.css" />
    <link rel="stylesheet" href="~/assets/helpers/awesome-alert-main/style.css" />
    <script src="~/assets/helpers/awesome-alert-main/awesomeAlert.js"></script>
    @*css, js bootstrap*@
    <link href="~/Content/fa/font-awesome.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .main-wrapper {
            min-height: calc(100vh - 270px);
        }
        /*Ghi đè class*/
        input {
            padding-left: 10px;
            border-color: transparent;
            outline: none !important;
            font-size: 15px !important;
        }

        ::placeholder {
            font-size: 13px !important;
        }

        .headerLayout1_flex2 input {
            color: #3b5898;
            font-size: 17px !important;
        }

        .headerLayout1_flex2 ::placeholder {
            font-size: 15px !important;
        }
    </style>
</head>
<body style="background-color: #efefef;">
    @*<script src="~/assets/helpers/pages-transition-loader/vanilla-js-pages-transition-loader.min.js"></script>*@
    <div id="loading" style="display:none">
        @*<i id="loadingIcon" class="fas fa-spinner fa-pulse"></i>*@
        <img id="loadingImg" src="~/assets/images/icon/ajax-loader.gif" alt="Alternate Text" />
        @*<div id="loadingText" class="dot-elastic"></div>*@
        @*<div id="loadingText" class="dot-flashing"></div>*@
        @*<div id="loadingText">
            Processing...
        </div>*@
    </div>
    <div class="body-wrapper" style="overflow: hidden; background-color: rgb(235, 235, 240);">
        <!-- partial:partials/_sidebar.html -->
        <div class="main-wrapper mdc-drawer-app-content">

            <div style="display:flex;" class="headerLayout1">
                <div style="flex:1">
                </div>

                @*flex1*@
                <h2 style="width:auto;" class="headerLayout1_flex1" onclick="goToMainHome('')">Seafood.com.vn</h2>
                @*flex2*@
                <div style="flex: 1;" class="headerLayout1_flex2">
                    <input style="height:100%;width:100%" placeholder="Bạn cần tìm gì?" />
                </div>
                @*flex3*@
                <div class="headerLayout1_flex3">
                    <i style="font-size: 20px;margin-top:10px;" class="fa fa-search"></i>
                </div>
                @*flex4*@
                <div class="headerLayout1_flex4">
                    <i style="font-size: 30px;" class="fa-solid fa-truck-fast"></i>
                    <h6>Tra cứu đơn hàng</h6>
                </div>
                @*flex5*@
                <div class="headerLayout1_flex5">
                    <i style="font-size: 30px;" class="fa-solid fa-cart-plus"></i>
                    <h6>Giỏ hàng của bạn</h6>
                    <span>1</span>
                </div>
                @*flex6*@
                @if (user == null)
                {
                    <div class="header-layout1-login" onclick="login()">
                        <i class="fa fa-user-circle"></i>
                        <h6>Đăng nhập</h6>
                    </div>
                }
                else
                {
                    <div class="header-layout1-account" data-html="true" data-placement="bottom" data-popover-content="#account_manager_popover" data-toggle="popover_account_manager" href="#" data-trigger="focus" tabindex="0">
                        <div class="account-icon">
                            <i class="fa-regular fa-user"></i>
                        </div>
                        <div>
                            <div class="account-info">
                                <div class="title">Tài khoản</div>
                                <div class="name">
                                    @user.DisplayName
                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                </div>
                            </div>

                        </div>
                    </div>
                }
                <div style="flex:1">
                </div>
            </div>

            <div style="display:flex;" class="headerLayout2">

                <div style="flex:1" class="dropdown">
                    <div id="headerBtnList" class="headerLayout2_icon" data-toggle="dropdown">
                        <i class="fa fa-angle-double-down"></i>
                    </div>
                    <ul class="dropdown-menu">
                        <li><a href="/Home/Seafood?code=@Constant.CodeTom">Tôm</a></li>
                        <li><a href="/Home/Seafood?code=@Constant.CodeCua">Cua</a></li>
                        <li><a href="/Home/Seafood?code=@Constant.CodeCa">Cá</a></li>
                        <li><a href="/Home/Seafood?code=@Constant.CodeMuc">Mực</a></li>
                        <li><a href="/Home/Seafood?code=@Constant.CodeGhe">Ghẹ</a></li>
                        <li><a href="/Home/Seafood?code=@Constant.CodeBeBe">Bề bề</a></li>
                        <li><a href="/Home/Seafood?code=@Constant.CodeHau">Hàu</a></li>
                        <li><a href="/Home/Seafood?code=@Constant.CodeNgao">Ngao</a></li>
                        <li><a href="/Home/Seafood?code=@Constant.CodeDoKho">Đồ khô</a></li>
                        <li><a href="/Home/Seafood?code=@Constant.CodeNuocMam">Nước mắm</a></li>
                    </ul>
                </div>

                <div class="headerLayout2_icon" onclick="goToMainHome('')">
                    <i class="fa fa-home"></i>
                </div>
                <button class="headerLayout2_btn" onclick="goToMainHome('@Constant.CodeTom')">
                    Tôm
                </button>
                <button id="crabHeaderBtn" class="headerLayout2_btn" onclick="goToMainHome('@Constant.CodeCua')">
                    Cua
                </button>
                <button class="headerLayout2_btn" onclick="goToMainHome('@Constant.CodeCa')">
                    Cá
                </button>
                <button class="headerLayout2_btn" onclick="goToMainHome('@Constant.CodeMuc')">
                    Mực
                </button>
                <button id="crab2HeaderBtn" class="headerLayout2_btn" onclick="goToMainHome('@Constant.CodeGhe')">
                    Ghẹ
                </button>
                <button id="bebeHeaderBtn" class="headerLayout2_btn" onclick="goToMainHome('@Constant.CodeBeBe')">
                    Bề bề
                </button>
                <button id="oystersHeaderBtn" class="headerLayout2_btn" onclick="goToMainHome('@Constant.CodeHau')">
                    Hàu
                </button>
                <button id="clamsHeaderBtn" class="headerLayout2_btn" onclick="goToMainHome('@Constant.CodeNgao')">
                    Ngao
                </button>
                <button id="doKhoHeaderBtn" class="headerLayout2_btn" onclick="goToMainHome('@Constant.CodeDoKho')">
                    Đồ khô
                </button>
                <button id="nuocMamHeaderBtn" class="headerLayout2_btn" onclick="goToMainHome('@Constant.CodeNuocMam')">
                    Nước mắm
                </button>
                <div class="headerLayout2_icon">
                    <i data-toggle="tooltip" data-placement="bottom" title="Khuyến mãi" class="fa-solid fa-gift"></i>
                </div>

                <div style="flex: 1;">
                </div>

            </div>

            <div class="page-wrapper mdc-toolbar-fixed-adjust">
                <main class="content-wrapper">
                    @RenderBody()
                </main>
            </div>

        </div>
        <footer class="tailLayout">
            <div style="flex:1;">
            </div>
            @*Vùng 1*@
            <div class="tailLayout_flex1" style="width:350px;padding: 20px">
                <p class="tailLayout_text">Tư vấn mua hàng (Kết nối Zalo)</p>
                <div class="tailLayout_div_number">
                    <p class="tailLayout_number">03 678 23445</p>
                    <h6 style="margin:-2.5px 0 0 5px;">(Chi nhánh 1)</h6>
                </div>
                <p class="tailLayout_text">Tư vấn bảo quản, nấu nướng (Kết nối Zalo)</p>
                <div class="tailLayout_div_number">
                    <p class="tailLayout_number">03 678 23445</p>
                    <h6 style="margin:-2.5px 0 0 5px;">(Chi nhánh 1)</h6>
                </div>
                <p class="tailLayout_text" style="margin-top:10px;">Hỗ trợ thanh toán:</p>
                <div class="tailLayout_div_number">
                    <p class="tailLayout_number">099 013 915 9999</p>
                    <h6 style="margin:-2.5px 0 0 5px;">(Ngân hàng MB)</h6>
                </div>
            </div>
            @*Khoảng cách*@
            <div style="width: 30px;">
            </div>
            @*Vùng 2*@
            <div class="tailLayout_flex2" style="width:350px;padding: 20px">
                <p class="tailLayout_text">Góp ý, khiếu nại dịch vụ (Kết nối Zalo)</p>
                <p class="tailLayout_number">03 678 23445</p>
            </div>
            <div style="flex:2;">
            </div>
        </footer>
    </div>
    <!--Content Popover account manager -->
    <div class="hidden d-none" id="account_manager_popover">
        <div class="popover-body">
            <div class="account-manager">
                <div id="@Constant.Id_Thong_Bao_Cua_Toi" class="item-content">
                    <i class='icon-address far fa-bell'></i>
                    <div>@Constant.Name_Thong_Bao_Cua_Toi</div>
                    <span>1</span>
                </div>
                <div id="@Constant.Id_Thong_Tin_Tai_Khoan" class="item-content">
                    <i class='fas fa-address-card'></i>
                    <div>@Constant.Name_Thong_Tin_Tai_Khoan</div>
                </div>
                <div id="@Constant.Id_So_Dia_Chi" class="item-content">
                    <i class='fas fa-map-marker-alt'></i>
                    <div>@Constant.Name_So_Dia_Chi</div>
                </div>
                <div id="@Constant.Id_San_Pham_Yeu_Thich" class="item-content">
                    <i class='icon-heart far fa-heart'></i>
                    <div>@Constant.Name_San_Pham_Yeu_Thich</div>
                </div>
                <div id="@Constant.Id_Ma_Giam_Gia" class="item-content">
                    <i class="icon-voucher fa-solid fa-tags"></i>
                    <div>@Constant.Name_Ma_Giam_Gia</div>
                </div>
                <div id="@Constant.Id_Lich_Su_Mua_Hang" class="item-content">
                    <i class="fa-solid fa-notes-medical"></i>
                    <div>@Constant.Name_Lich_Su_Mua_Hang</div>
                </div>
                <div id="@Constant.Id_Dang_Suat" class="item-content">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    <div>@Constant.Name_Dang_Suat</div>
                </div>
            </div>
        </div>
    </div>
    <script>
        //awesomeAlert({
        //    type: 'success',
        //    title: 'Alert!',
        //    message: 'Alert Message!',
        //    img: '/assets/helpers/awesome-alert-main/imgs/success.svg',
        //    buttonOK: 'Done!',
        //    bgColor: 'red',
        //})
        //ShowOverlay(true);
        //Setup
        //var prompt = new PromptBoxes();
        //prompt.confirm((isConfirm) => executeConfirm(isConfirm), 'Are you sure?', 'Đồng ý', 'Hủy bỏ');
        //prompt.prompt((value) => executeImport(value),
        //    'Nhập nội dung của bạn',  // Prompt text
        //    'textarea',  // Input type: text or 'textarea'
        //    '', // Default value
        //    'Đồng ý',
        //    'Hủy bỏ',
        //);
        //function executeConfirm(isConfirm)
        //{
        //    alert(isConfirm);
        //}
        //function executeImport(value)
        //{
        //    alert(value);
        //}
        $(document).ready(function ()
        {
            $('[data-toggle="tooltip"]').tooltip();
        });
        $(function () {

            $("[data-toggle=popover_account_manager]").popover({
                html: true,
                content: function (e)
                {
                    var content = $(this).attr("data-popover-content");
                    return $(content).children(".popover-body").html();
                },
                //title: function (e) {
                //    var title = $(this).attr("data-popover-content");
                //    return $(title).children(".popover-heading").html();
                //}
            });
        });
        //Setup
        $('[data-toggle=popover_account_manager]').on('shown.bs.popover', function ()
        {
            $('.item-content').click(function (e)
            {
                var dom = this;
                if (dom.id == '@Constant.Id_Thong_Tin_Tai_Khoan')
                {
                    window.location = "/YourAccount/YourAccount?idItem=" + dom.id;
                }
                else if (dom.id == '@Constant.Id_So_Dia_Chi')
                {
                    window.location = "/Address/AddressList?idItem=" + dom.id;
                }
                else if (dom.id == '@Constant.Id_Thong_Bao_Cua_Toi')
                {
                    window.location = "/Notification/YourNotification?idItem=" + dom.id;
                }
                else if (dom.id == '@Constant.Id_San_Pham_Yeu_Thich')
                {
                    window.location = "/FavoriteProd/FavoriteProd?idItem=" + dom.id;
                }
                else if (dom.id == '@Constant.Id_Ma_Giam_Gia')
                {
                    window.location = "/Voucher/Voucher?idItem=" + dom.id;
                }
                else if (dom.id == '@Constant.Id_Lich_Su_Mua_Hang')
                {
                    window.location = "/YourOrder/Order";
                }
                else if (dom.id == '@Constant.Id_Dang_Suat')
                {
                    window.location = "/Account/Logout";
                }

            });
        })

        function login()
        {
           window.location = "/Account/Login";
        }
        function logout()
        {
            window.location = "/Account/Logout";
        }
        function goToMainHome(code)
        {
            window.location = "/Home/Seafood?code=" + code;
        }

        $('.headerLayout1_flex5').click(function (e)
        {
            var user = @Html.Raw(Json.Encode(Seafood.MemCached.Authenticator.CurrentUser(new HttpContextWrapper(HttpContext.Current))));
            if (isNullOrEmpty(user))
            {
                showToasinette_Error_Top_Right('Bạn chưa đăng nhập');
            }
            else
            {
                window.location = "/YourBasket/Basket";
            }
        });

        $('.headerLayout1_flex4').click(function (e)
        {
            var user = '@Seafood.MemCached.Authenticator.CurrentUser(new HttpContextWrapper(HttpContext.Current))';
            if (isNullOrEmpty(user))
            {
                showToasinette_Error_Top_Right('Bạn chưa đăng nhập');
            }
            else
            {
                window.location = "/YourOrder/Order";
            }
        });

    </script>
</body>
</html>
