@using Domain.Constant;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/assets/css/demo/account-manager/layout-account-manager.css" rel="stylesheet" />
    <style>
        /*ghi đè class*/
    </style>
</head>
<body>
    <div class="container-layout-account-manager">
        <div class="row">
            <div class="col-md-3 col-sm-12 menu">
                <div class="box-your-account">
                    <img src="https://salt.tikicdn.com/desktop/img/avatar.png" alt="avatar">
                    <div class="info">
                        Tài khoản của
                        <strong>Phạm Văn Đức</strong>
                    </div>
                </div>
                <div class="box-list-manager">
                    <div class="item">
                        <div id="@Constant.Id_Thong_Bao_Cua_Toi" class="item-content">
                            <i class='icon-address far fa-bell'></i>
                            <div>@Constant.Name_Thong_Bao_Cua_Toi</div>
                            <span>1</span>
                        </div>
                        <div id="@Constant.Id_Thong_Tin_Tai_Khoan" class="item-content">
                            <i class='fas fa-address-card'></i>
                            <div>@Constant.Name_Thong_Tin_Tai_Khoan</div>
                        </div>
                        <div id="@Constant.Id_So_Dia_Chi" class="item-content">
                            <i class='fas fa-map-marker-alt'></i>
                            <div>@Constant.Name_So_Dia_Chi</div>
                        </div>
                        <div id="@Constant.Id_San_Pham_Yeu_Thich" class="item-content">
                            <i class='icon-heart far fa-heart'></i>
                            <div>@Constant.Name_San_Pham_Yeu_Thich</div>
                        </div>
                        <div id="@Constant.Id_Lich_Su_Mua_Hang" class="item-content">
                            <i class="fa-solid fa-notes-medical"></i>
                            <div>@Constant.Name_Lich_Su_Mua_Hang</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-9 col-sm-12">
               @RenderBody()
            </div>
        </div>
    </div>
    <script>
        //Setup
        $(document).ready(function () {
            document.getElementById('@Constant.Id_Thong_Bao_Cua_Toi').classList.remove('active');
            document.getElementById('@Constant.Id_Thong_Tin_Tai_Khoan').classList.remove('active');
            document.getElementById('@Constant.Id_So_Dia_Chi').classList.remove('active');
            document.getElementById('@Constant.Id_San_Pham_Yeu_Thich').classList.remove('active');
            document.getElementById('@Constant.Id_Lich_Su_Mua_Hang').classList.remove('active');
            var element = document.getElementById('@ViewBag.IdItem');
            element.classList.add('active');
        });
        //Setup
        $('.item-content').click(function (e)
        {
            var dom = this;
            if (dom.id == '@Constant.Id_Thong_Bao_Cua_Toi')
            {
                window.location = "/Notification/YourNotification?idItem=" + dom.id;
            }
            else if (dom.id == '@Constant.Id_Thong_Tin_Tai_Khoan')
            {
                window.location = "/YourAccount/YourAccount?idItem=" + dom.id;
            }
            else if (dom.id == '@Constant.Id_So_Dia_Chi')
            {
                window.location = "/Address/AddressList?idItem=" + dom.id;
            }
             else if (dom.id == '@Constant.Id_San_Pham_Yeu_Thich')
            {
                window.location = "/FavoriteProd/FavoriteProd?idItem=" + dom.id;
            }
        });
    </script>
</body>
</html>


