@using Domain.Enums
@using Domain.Extentions
@using Domain.Constant
@using Service.Helpers
@using System.Globalization
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var code1 = "DENGUYEN";
    var code2 = "THEOYEUCAU";
    var masterDataHelper = new MasterDataHelper();
    var infoShopSeeFood = masterDataHelper.GetInfoShopSeeFood();
    var listSeafoodPromotion = masterDataHelper.GetListSeafoodPromotion();
}
@model Domain.Models.ResponseModel.ProdDetailt
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/assets/css/demo/detailt.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <style>

        /*ghi đè class*/
        /*slick-slide*/
        .slick-slide img {
            width: 100%;
        }

        .slick-next:before, .slick-prev:before {
            font-size: 20px;
            line-height: 1;
            opacity: .75;
            color: rgb(7, 171, 226);
        }

        .slick-next:before {
            margin-left: -15px;
        }

        .slick-prev:before {
            margin-right: -13px;
        }
    </style>
</head>

<body>
    <div class="container-detailt">
        <div class="prod-name">
            <h1>
                @if (Model != null)
                {
                    @Model.Name
                }
            </h1>
            @if (Model != null)
            {
                if (Model.ReviewProd == null || Model.ReviewProd == 0)
                {
                    <h6>Chưa có đánh giá</h6>
                }
                else if (Model.ReviewProd == 1)
                {
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                }
                else if (Model.ReviewProd == 1.5)
                {
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                }
                else if (Model.ReviewProd == 2)
                {
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                }
                else if (Model.ReviewProd == 2.5)
                {
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                }
                else if (Model.ReviewProd == 3)
                {
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                }
                else if (Model.ReviewProd == 3.5)
                {
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                    <i class="fa-regular fa-star"></i>
                }
                else if (Model.ReviewProd == 4)
                {
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                }
                else if (Model.ReviewProd == 4.5)
                {
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                }
                else if (Model.ReviewProd >= 5)
                {
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                }
            }
            else
            {
                <h6>Chưa có đánh giá</h6>
            }
        </div>
        <div class="slim-line">

        </div>
        <div class="prod-detailt-main row">
            <div class="col-md-4 col-sm-12 menu">
                <div class="prod-detailt-main-img slider slider-for">
                    <div>
                        <img src="~/assets/images/oyster.png" alt="Alternate Text" />
                    </div>
                    <div>
                        <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/4/h/4h43.png" alt="Alternate Text" />
                    </div>
                    <div>
                        <img src="~/assets/images/crab.jpg" alt="Alternate Text" />
                    </div>
                    <div>
                        <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/4/h/4h43.png" alt="Alternate Text" />
                    </div>
                    <div>
                        <img src="~/assets/images/logos/r-logo_login.jpg" alt="Alternate Text" />
                    </div>
                </div>
                <div style="margin-top: -10px; margin-left: -10px; cursor: pointer;" class="slider slider-nav">
                    <div>
                        <img src="~/assets/images/oyster.png" alt="Alternate Text" />
                    </div>
                    <div>
                        <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/4/h/4h43.png" alt="Alternate Text" />
                    </div>
                    <div>
                        <img src="~/assets/images/crab.jpg" alt="Alternate Text" />
                    </div>
                    <div>
                        <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/4/h/4h43.png" alt="Alternate Text" />
                    </div>
                    <div>
                        <img src="~/assets/images/logos/r-logo_login.jpg" alt="Alternate Text" />
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="block-box-price">
                    <div class="box-info__installment">
                        @if (Model != null)
                        {
                            @Model.Discount
                        }
                    </div>
                    <div class="box-info__box-price">
                        <div class="product__price--show">
                            @string.Format(new CultureInfo("de-DE"), "{0:N0}", @Model?.PriceSale) đ
                        </div>
                        <div class="product__price--through">
                            @string.Format(new CultureInfo("de-DE"), "{0:N0}", @Model?.Price) đ
                        </div>
                    </div>
                </div>
                <div class="list-linked">
                    <div id="@Model.ListProcessing.FirstOrDefault(x=> x.Note == code1).Id" class="linked-undefined">
                        <strong>@Model.ListProcessing.FirstOrDefault(x => x.Note == code1).Name</strong>
                        <div class="active">
                            ✓
                        </div>
                    </div>
                    @foreach (var item in @Model.ListProcessing)
                    {
                        if (item.Note == code1 || item.Note == code2)
                        {
                            continue;
                        }
                        <div id="@item.Id" class="linked-undefined">
                            <strong>@item.Name</strong>
                            <span>@string.Format("+ {0} đ", string.Format(new CultureInfo("de-DE"), "{0:N0}", item.Price))</span>
                        </div>
                    }
                    <div id="@Model.ListProcessing.FirstOrDefault(x=> x.Note == code2).Id" class="linked-undefined">
                        <strong>@Model.ListProcessing.FirstOrDefault(x => x.Note == code2).Name</strong>
                        <span>liên hệ</span>
                    </div>
                </div>
                <div class="box-product-promotion">
                    <div class="box-product-promotion-header">
                        <i class="fa-solid fa-gift"></i>
                        <h1>Khuyến mãi</h1>
                    </div>
                    @if (Model != null && Model.ListPromotion != null && Model.ListPromotion.Any())
                    {
                        int index = 0;
                        foreach (var item in Model.ListPromotion)
                        {
                            index = index + 1;
                            <div class="box-product-promotion-content">
                                <div class="box-product-promotion-number">
                                    @index
                                </div>
                                <div class="box-product-promotion-detail">
                                    @item.Content
                                </div>
                            </div>
                        }
                    }
                </div>
                <div class="order-add-to-cart">
                    <button>
                        <strong>MUA NGAY</strong> <br />
                        <span>(Giao tận nơi hoặc lấy tại cửa hàng)</span>
                    </button>
                    <div class="add-to-cart-button">
                        <i class="fa-solid fa-cart-plus"></i>  <br />
                        <div>Thêm vào giỏ</div>
                    </div>
                </div>
                <div class="box-more-promotion">
                    <div class="box-more-promotion-title">
                        ƯU ĐÃI THÊM TỪ SEAFOOD
                    </div>
                    @foreach (var item in listSeafoodPromotion)
                    {
                        <div class="box-more-promotion-content">
                            <div class="box-more-promotion-content-✓">
                                ✓
                            </div>
                            <div class="box-more-promotion-content-detailt">
                                @item.Content
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="box-on-stock-options">
                    <div>
                        <select onchange="selectedRegion(this)" class="box-on-stock-option-region headerLeft_select form-select" aria-label="Default select example">
                            <option selected="selected" value="@Constant.Region_HaNoi">Hà Nội</option>
                            <option value="@Constant.Region_ThanhHoa">Thanh Hóa</option>
                        </select>
                    </div>
                    <div id="@Constant.Region_HaNoi">
                        <select class="box-on-stock-option-region headerLeft_select form-select" aria-label="Default select example">
                            <option disabled="disabled" selected="selected">Quận/Huyện</option>
                            @{
                                foreach (var role in Enum.GetValues(typeof(HaNoiDistrictEnum)))
                                {
                                    <option value="@((int)role)"> @StringExtension.GetDescription((Enum)role)</option>
                                }
                            }
                        </select>
                    </div>
                    <div id="@Constant.Region_ThanhHoa" style="display: none;">
                        <select class="box-on-stock-option-region headerLeft_select form-select" aria-label="Default select example">
                            <option disabled="disabled" selected="selected">Quận/Huyện</option>
                            @{
                                foreach (var role in Enum.GetValues(typeof(ThanhHoaDistrictEnum)))
                                {
                                    <option value="@((int)role)"> @StringExtension.GetDescription((Enum)role)</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="box-on-stock-count">
                    <p>
                        Có
                        <strong>@infoShopSeeFood.Count</strong>
                        cửa hàng có sản phẩm
                    </p>
                </div>
                <div class="box-on-stock-address">
                    @foreach (var item in infoShopSeeFood)
                    {
                        <div class="box-on-stock-item">
                            <div class="has-text-phone">
                                <i class="fa-solid fa-phone"></i>
                            </div>
                            <div class="has-text-phone">
                                @item.Phone
                            </div>
                            <div class="has-text-danger">
                                | @item.Address
                            </div>
                        </div>
                    }
                </div>
                <div class="box-warranty-info">
                    <p>Thông tin sản phẩm</p>
                    @if (Model != null && Model.ListProdInfo != null && Model.ListProdInfo.Any())
                    {
                        foreach (var item in Model.ListProdInfo)
                        {
                            <div class="item-warranty-info">
                                <i class="@Model.Icon"></i>
                                <div>
                                    @item.Description
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <script>
        //Setup
        $('.slider-for').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: false,
            fade: true,
            asNavFor: '.slider-nav'
        });
        $('.slider-nav').slick({
            slidesToShow: 3,
            slidesToScroll: 1,
            asNavFor: '.slider-for',
            dots: true,
            focusOnSelect: true
        });
        $('a[data-slide]').click(function (e) {
            e.preventDefault();
            var slideno = $(this).data('slide');
            $('.slider-nav').slick('slickGoTo', slideno - 1);
        });
        //Setup
        $('.linked-undefined').click(function (e) {
            var dom = this;
            if (dom.innerHTML.indexOf('active') >= 0)
                return;

            var model = @Html.Raw(Json.Encode(Model));

            for (var i = 0; i < model.ListProcessing.length; i++)
            {
                const element = document.getElementById(model.ListProcessing[i].Id);
                if (element.innerHTML.indexOf('active') >= 0)
                {
                    if (model.ListProcessing[i].Note == '@code1') {
                        var htmlUnActive = `<strong>${model.ListProcessing[i].Name}</strong>`;
                        element.innerHTML = htmlUnActive;
                    }
                    else if (model.ListProcessing[i].Note == '@code2') {
                        var htmlUnActive = `<strong>${model.ListProcessing[i].Name}</strong>
                                            <span>liên hệ</span>
                                            `;
                        element.innerHTML = htmlUnActive;
                    }
                    else
                    {
                        var htmlUnActive = `<strong>${model.ListProcessing[i].Name}</strong>
                                            <span>+ ${model.ListProcessing[i].StrPrice}</span>
                                            `;
                        element.innerHTML = htmlUnActive;
                    }
                }
            }

            var htmlActive = `<div class="active">
                                   ✓
                               </div>
                              `;
            dom.innerHTML = dom.innerHTML + htmlActive;
        });

        function selectedRegion(dom)
        {
            var idHN = '#' + '@Constant.Region_HaNoi'
            var idTH = '#' + '@Constant.Region_ThanhHoa'
            if (dom.value == '@Constant.Region_HaNoi')
            {
                $(idTH).hide();
                $(idHN).show();
            }
            else
            {
                $(idHN).hide();
                $(idTH).show();
            }
        }
    </script>
</body>
</html>
