@using Newtonsoft.Json;
@using Admin.Model;

@{
//FormsIdentity id = (FormsIdentity)HttpContext.Current.User.Identity;
//FormsAuthenticationTicket ticket = id.Ticket;
//var userData = JsonConvert.DeserializeObject<UserData>(ticket.UserData);
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/bundles/css")
    <link href="~/assets/css/demo/style.css" rel="stylesheet" />
    <link href="~/assets/css/demo/layout.css" rel="stylesheet" />
    <link href="~/assets/css/theme.css" rel="stylesheet" />
    <link href="~/Content/fa/font-awesome.css" rel="stylesheet" />
    <style>
        .tailLayout {
            background-color: #dee8fc;
            height: 200px;
            display: flex;
        }
        .tailLayout_text {
            font-size: 15px;
            color: #4a4a4a;
            font-weight: 700;
            line-height: 1.4 !important;
        }
        .tailLayout_number {
            font-size: 20px;
            color: #d0021b;
            font-weight: 700;
        }
        /*Ghi đè class*/
        input {
            padding-left: 10px;
            border-color: transparent;
            outline: none;
        }    
    </style>
</head>
<body>
    <script src="../assets/js/preloader.js"></script>
    <div class="body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <div class="main-wrapper mdc-drawer-app-content">

            <div style="display:flex;" class="headerLayout1">
                <div style="flex:1">
                </div>

                @*flex1*@
                <h2 style="width:auto;" class="headerLayout1_flex1">Seefood.com.vn</h2>
                @*flex2*@
                <div style="flex: 1;" class="headerLayout1_flex2">
                    <input style="height:100%;width:100%" placeholder="Bạn cần tìm gì?" />
                </div>
                @*flex3*@
                <div style="width:40px;" class="headerLayout1_flex3">
                    <i style="font-size: 20px;margin-top:7.5px;" class="fa fa-search"></i>
                </div>
                @*flex4*@
                <div style="width:100px;display:flex;" class="headerLayout1_flex4">
                    <i style="font-size: 30px;margin-top:5px;" class="fas fa-truck"></i>
                    <h6 style="margin-top: 5px;">Tra cứu đơn hàng</h6>
                </div>
                @*flex5*@
                <div style="width: 100px; display: flex;" class="headerLayout1_flex5">
                    <i style="font-size: 30px;margin-top:5px;" class="fa fa-shopping-basket"></i>
                    <h6 style="margin-top: 7.5px;">Giỏ hàng của bạn</h6>
                </div>
                @*flex6*@
                <div style="width: 100px;" class="headerLayout1_flex6">
                    <i style="font-size: 17.5px;margin-top:5px;" class="fa fa-user-circle"></i>
                    <h6 style="margin-top: -2.5px;">Đăng nhập</h6>
                </div>

                <div style="flex:1">
                </div>
            </div>
            <div style="display:flex;" class="headerLayout2">

                <div style="flex:1">
                </div>

                <div class="headerLayout2_icon">
                    <i class="fa fa-home"></i>
                </div>
                <button class="headerLayout2_btn">
                    Tôm
                </button>
                <button class="headerLayout2_btn">
                    Mực
                </button>
                <button class="headerLayout2_btn">
                    Cá
                </button>
                <button id="crabHeaderBtn" class="headerLayout2_btn">
                    Cua
                </button>
                <button id="crab2HeaderBtn" class="headerLayout2_btn">
                    Ghẹ
                </button>
                <button id="bebeHeaderBtn" class="headerLayout2_btn">
                    Bề bề
                </button>
                <button id="oystersHeaderBtn" class="headerLayout2_btn">
                    Hàu
                </button>
                <button id="clamsHeaderBtn" class="headerLayout2_btn">
                    Ngao
                </button>
                <button class="headerLayout2_btn">
                    Đồ khô
                </button>
                <button class="headerLayout2_btn">
                    Nước mắm
                </button>
                <div class="headerLayout2_icon">
                    <i class="fa fa-shopping-cart"></i>
                </div>

                <div style="flex:1">
                </div>

            </div>

            <div class="page-wrapper mdc-toolbar-fixed-adjust">
                <main style="background-color:white" class="content-wrapper">
                    @RenderBody()
                </main>
            </div>

            <div class="tailLayout">
                <div style="flex:1;">
                </div>
                @*Vùng 1*@
            <div style="width:350px;padding: 20px">
                <p class="tailLayout_text">Tư vấn mua hàng (Kết nối Zalo)</p>
                <div style="display:flex;text-align:center;align-items:center;">
                    <p class="tailLayout_number">03 678 23445</p>
                    <h6 style="margin-left:5px;">(Chi nhánh 1)</h6>
                </div>
                <p class="tailLayout_text">Tư vấn bảo quản, nấu nướng (Kết nối Zalo)</p>
                <div style="display:flex;text-align:center;align-items:center;">
                    <p class="tailLayout_number">03 678 23445</p>
                    <h6 style="margin-left:5px;">(Chi nhánh 1)</h6>
                </div>
                <p style="margin-top:10px;" class="tailLayout_text">Hỗ trợ thanh toán:</p>
                <div style="display:flex;text-align:center;align-items:center;">
                    <p class="tailLayout_number">099 013 915 9999</p>
                    <h6 style="margin-left:5px;">(Ngân hàng MB)</h6>
                </div>
            </div>
                @*Khoảng cách*@
                <div style="width: 30px;">
                </div>
                @*Vùng 2*@
                <div style="width: 300px;">

                </div>
                <div style="flex:2;">
                </div>
            </div>
        </div>
    </div>
    
    <script src="~/assets/vendors/js/vendor.bundle.base.js"></script>
    @Scripts.Render("~/bundles/js")
    <script src="~/assets/js/misc.js"></script>
    <script>
        $(window).on('beforeunload', function () {
            document.body.className = "";
        });

        $.ajaxSetup({
            complete: function (x, e) {
                if (x.status == 401) {
                    alert("Phiên đăng nhập đã hết. Vui lòng đăng nhập lại để tiếp tục.");
                    window.location = "/Account/Login";
                } 
                if (x.status == 500) {
                    var url = '@Url.Action("CommonErr", "Error")';
                    $('#errorPopupPlaceholder').load(url);
                }
            }
        });
    </script>
    @RenderSection("script", false)
    <div id="errorPopupPlaceholder"></div>
</body>
</html>
