@using Newtonsoft.Json;
@using Admin.Model;

@{
//FormsIdentity id = (FormsIdentity)HttpContext.Current.User.Identity;
//FormsAuthenticationTicket ticket = id.Ticket;
//var userData = JsonConvert.DeserializeObject<UserData>(ticket.UserData);
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/bundles/css")
    <link href="~/assets/css/demo/style.css" rel="stylesheet" />
    <link href="~/assets/css/demo/layout.css" rel="stylesheet" />
    <link href="~/assets/css/theme.css" rel="stylesheet" />
    <link href="~/Content/fa/font-awesome.css" rel="stylesheet" />
    <style>
        .headerLayout2 {
            background-color: black;
            padding: 5px;
            color: white;
        }

        .headerLayout2_icon {
            width: 25px;
            height: 25px;
        }

        .headerLayout2_text {
            margin: 2.5px 0 0 5px;
        }

        .headerLayout2_flex {
            margin: 0 10px 0 0;
            display: flex;
            cursor: pointer;
            min-width: 135px;
            font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
            /* giữa trên dưới trái phải*/
            align-items: center;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
        }

            .headerLayout2_flex:hover {
                background: hsla(0,0%,100%,.2);
                border-radius: 10px;
                font-weight: bold;
                text-decoration: underline;
                text-decoration-color: none;
            }

        input {
            padding-left: 10px;
        }
        /*Ghi đè class*/
    </style>
</head>
<body>
    <script src="../assets/js/preloader.js"></script>
    <div class="body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <div class="main-wrapper mdc-drawer-app-content">

            <div style="display:flex;" class="headerLayout1">
                <div style="flex:1">
                </div>

                @*flex1*@
                <h2 style="width:auto;" class="headerLayout1_flex1">Seefood.com.vn</h2>
                @*flex2*@
                <div style="flex: 1;" class="headerLayout1_flex2">
                    <input style="height:100%;width:100%" placeholder="Bạn cần tìm gì?" />
                </div>
                @*flex3*@
                <div style="width:40px;" class="headerLayout1_flex3">
                    <i style="font-size: 20px;margin-top:7.5px;" class="fa fa-search"></i>
                </div>
                @*flex4*@
                <div style="width:100px;display:flex;" class="headerLayout1_flex4">
                    <i style="font-size: 30px;margin-top:5px;" class="fas fa-truck"></i>
                    <h6 style="margin-top: 5px;">Tra cứu đơn hàng</h6>
                </div>
                @*flex5*@
                <div style="width: 100px; display: flex;" class="headerLayout1_flex5">
                    <i style="font-size: 30px;margin-top:5px;" class="fa fa-shopping-basket"></i>
                    <h6 style="margin-top: 7.5px;">Giỏ hàng của bạn</h6>
                </div>
                @*flex6*@
                <div style="width: 100px;" class="headerLayout1_flex6">
                    <i style="font-size: 17.5px;margin-top:5px;" class="fa fa-user-circle"></i>
                    <h6 style="margin-top: -2.5px;">Đăng nhập</h6>
                </div>
                <div style="flex:1">
                </div>
            </div>
            <div style="display:flex;" class="headerLayout2">

                <div style="flex:1">
                </div>
                @*flex0*@
                <div class="headerLayout2_flex">
                    <i style="font-size: 20px;" class="fa fa-home"></i>
                    <h6 class="headerLayout2_text">TRANG CHỦ</h6>
                </div>
                @*flex1*@
                <div class="headerLayout2_flex">
                    <img class="headerLayout2_icon" src="~/assets/images/icon/fish.png" />
                    <h6 class="headerLayout2_text">CÁC LOẠI TÔM</h6>
                </div>
                @*flex2*@
                <div class="headerLayout2_flex">
                    <img class="headerLayout2_icon" src="~/assets/images/icon/fish.png" />
                    <h6 class="headerLayout2_text">CÁC LOẠI MỰC</h6>
                </div>
                @*flex3*@
                <div class="headerLayout2_flex">
                    <img class="headerLayout2_icon" src="~/assets/images/icon/fish.png" />
                    <h6 class="headerLayout2_text">CÁC LOẠI CÁ</h6>
                </div>
                @*flex4*@
                <div class="headerLayout2_flex">
                    <img class="headerLayout2_icon" src="~/assets/images/icon/fish.png" />
                    <h6 class="headerLayout2_text">CÁC LOẠI HÀU</h6>
                </div>
                @*flex5*@
                <div class="headerLayout2_flex">
                    <img class="headerLayout2_icon" src="~/assets/images/icon/fish.png" />
                    <h6 class="headerLayout2_text">CÁC LOẠI TÍCH</h6>
                </div>
                @*flex6*@
                <div class="headerLayout2_flex">
                    <img class="headerLayout2_icon" src="~/assets/images/icon/fish.png" />
                    <h6 class="headerLayout2_text">CÁC LOẠI NGAO</h6>
                </div>
                @*flex7*@
                <div class="headerLayout2_flex">
                    <img class="headerLayout2_icon" src="~/assets/images/icon/fish.png" />
                    <h6 class="headerLayout2_text">CÁC LOẠI KHÔ</h6>
                </div>
                @*flex8*@
                <div class="headerLayout2_flex">
                    <img class="headerLayout2_icon" src="~/assets/images/icon/fish.png" />
                    <h6 class="headerLayout2_text">CÁC LOẠI MẮM</h6>
                </div>
                @*flex9*@
                <div class="headerLayout2_flex">
                    <i style="font-size: 17.5px;margin-top:2px" class="fa fa-shopping-cart"></i>
                    <h6 class="headerLayout2_text">KHUYẾN MÃI</h6>
                </div>

                <div style="flex:1">
                </div>

            </div>

            <div class="page-wrapper mdc-toolbar-fixed-adjust">
                <main class="content-wrapper">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>
    
    <script src="~/assets/vendors/js/vendor.bundle.base.js"></script>
    @Scripts.Render("~/bundles/js")
    <script src="~/assets/js/misc.js"></script>
    <script>
        $(window).on('beforeunload', function () {
            document.body.className = "";
        });

        $.ajaxSetup({
            complete: function (x, e) {
                if (x.status == 401) {
                    alert("Phiên đăng nhập đã hết. Vui lòng đăng nhập lại để tiếp tục.");
                    window.location = "/Account/Login";
                } 
                if (x.status == 500) {
                    var url = '@Url.Action("CommonErr", "Error")';
                    $('#errorPopupPlaceholder').load(url);
                }
            }
        });
    </script>
    @RenderSection("script", false)
    <div id="errorPopupPlaceholder"></div>
</body>
</html>
