@using Newtonsoft.Json;
@using Seefood.Model;
@using Domain.Constant

@{  
    bool isLogin = false;
    try
    {
        FormsIdentity id = (FormsIdentity)HttpContext.Current.User.Identity;
        FormsAuthenticationTicket ticket = id.Ticket;
        var userData = JsonConvert.DeserializeObject<UserData>(ticket.UserData);
        isLogin = true;
    }
    catch
    {
        isLogin = false;
    }

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seefood</title>
    @Styles.Render("~/bundles/css")
    <link href="~/assets/css/demo/layout.css" rel="stylesheet" />
    <link href="~/assets/css/theme.css" rel="stylesheet" />
    <!--css, js bootstrap -->
    <link href="~/Content/fa/font-awesome.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        /*Ghi đè class*/
        input {
            padding-left: 10px;
            border-color: transparent;
            outline: none !important;
            color: #3b5898;
        }

        ::placeholder {
            font-size: 12px !important;
        }
    </style>
</head>
<body>
    <div id="loading" style="display:none">
        <i id="loadingIcon" class="fas fa-spinner fa-pulse"></i>
    </div>
    <div id="notification">
    </div>
    <div class="body-wrapper" style="overflow:hidden;">
        <!-- partial:partials/_sidebar.html -->
        <div class="main-wrapper mdc-drawer-app-content">

            <div style="display:flex;" class="headerLayout1">
                <div style="flex:1">
                </div>

                @*flex1*@
                <h2 style="width:auto;" class="headerLayout1_flex1" onclick="goToMainHome('')">Seefood.com.vn</h2>
                @*flex2*@
                <div style="flex: 1;" class="headerLayout1_flex2">
                    <input style="height:100%;width:100%" placeholder="Bạn cần tìm gì?" />
                </div>
                @*flex3*@
                <div class="headerLayout1_flex3">
                    <i style="font-size: 20px;margin-top:10px;" class="fa fa-search"></i>
                </div>
                @*flex4*@
                <div class="headerLayout1_flex4">
                    <i style="font-size: 30px;" class="fas fa-truck"></i>
                    <h6>Tra cứu đơn hàng</h6>
                </div>
                @*flex5*@
                <div class="headerLayout1_flex5">
                    <i style="font-size: 30px;" class="fa fa-shopping-basket"></i>
                    <h6>Giỏ hàng của bạn</h6>
                </div>
                @*flex6*@
                @if (!isLogin)
                {
                    <div style="width: 100px;" class="headerLayout1_flex6" onclick="login()">
                        <i style="font-size: 17.5px;margin-top:5px;" class="fa fa-user-circle"></i>
                        <h6 style="margin-top: -2.5px;">Đăng nhập</h6>
                    </div>
                }
                else
                {
                    <div style="width: 100px;" class="headerLayout1_flex6" onclick="logout()">
                        <i style="font-size: 17.5px;margin-top:5px;" class="fa fa-sign-out"></i>
                        <h6 style="margin-top: -2.5px;">Đăng xuất</h6>
                    </div>
                }
                <div style="flex:1">
                </div>
            </div>
            <div style="display:flex;" class="headerLayout2">

                <div style="flex:1" class="dropdown">
                    <div id="headerBtnList" class="headerLayout2_icon" data-toggle="dropdown">
                        <i class="fa fa-angle-double-down"></i>
                    </div>
                    <ul class="dropdown-menu">
                        <li><a href="/Home/Seefood?code=@Constant.CodeTom">Tôm</a></li>
                        <li><a href="/Home/Seefood?code=@Constant.CodeCua">Cua</a></li>
                        <li><a href="/Home/Seefood?code=@Constant.CodeCa">Cá</a></li>
                        <li><a href="/Home/Seefood?code=@Constant.CodeMuc">Mực</a></li>
                        <li><a href="/Home/Seefood?code=@Constant.CodeGhe">Ghẹ</a></li>
                        <li><a href="/Home/Seefood?code=@Constant.CodeBeBe">Bề bề</a></li>
                        <li><a href="/Home/Seefood?code=@Constant.CodeHau">Hàu</a></li>
                        <li><a href="/Home/Seefood?code=@Constant.CodeNgao">Ngao</a></li>
                        <li><a href="/Home/Seefood?code=@Constant.CodeDoKho">Đồ khô</a></li>
                        <li><a href="/Home/Seefood?code=@Constant.CodeNuocMam">Nước mắm</a></li>
                    </ul>
                </div>

                <div class="headerLayout2_icon" onclick="goToMainHome('')">
                    <i class="fa fa-home"></i>
                </div>
                <button class="headerLayout2_btn" onclick="goToMainHome('@Constant.CodeTom')">
                    Tôm
                </button>
                <button id="crabHeaderBtn" class="headerLayout2_btn" onclick="goToMainHome('@Constant.CodeCua')">
                    Cua
                </button>
                <button class="headerLayout2_btn" onclick="goToMainHome('@Constant.CodeCa')">
                    Cá
                </button>
                <button class="headerLayout2_btn" onclick="goToMainHome('@Constant.CodeMuc')">
                    Mực
                </button>
                <button id="crab2HeaderBtn" class="headerLayout2_btn" onclick="goToMainHome('@Constant.CodeGhe')">
                    Ghẹ
                </button>
                <button id="bebeHeaderBtn" class="headerLayout2_btn" onclick="goToMainHome('@Constant.CodeBeBe')">
                    Bề bề
                </button>
                <button id="oystersHeaderBtn" class="headerLayout2_btn" onclick="goToMainHome('@Constant.CodeHau')">
                    Hàu
                </button>
                <button id="clamsHeaderBtn" class="headerLayout2_btn" onclick="goToMainHome('@Constant.CodeNgao')">
                    Ngao
                </button>
                <button id="doKhoHeaderBtn" class="headerLayout2_btn" onclick="goToMainHome('@Constant.CodeDoKho')">
                    Đồ khô
                </button>
                <button id="nuocMamHeaderBtn" class="headerLayout2_btn" onclick="goToMainHome('@Constant.CodeNuocMam')">
                    Nước mắm
                </button>
                <div class="headerLayout2_icon">
                    <i data-toggle="tooltip" data-placement="bottom" title="Khuyến mãi" class="fa fa-shopping-cart"></i>
                </div>

                <div style="flex: 1;">
                </div>

            </div>

            <div class="page-wrapper mdc-toolbar-fixed-adjust">
                <main style="background-color: none;" class="content-wrapper">
                    @RenderBody()
                </main>
            </div>

            <div class="tailLayout">
                <div style="flex:1;">
                </div>
                @*Vùng 1*@
                <div class="tailLayout_flex1" style="width:350px;padding: 20px">
                    <p class="tailLayout_text">Tư vấn mua hàng (Kết nối Zalo)</p>
                    <div class="tailLayout_div_number">
                        <p class="tailLayout_number">03 678 23445</p>
                        <h6 style="margin:-2.5px 0 0 5px;">(Chi nhánh 1)</h6>
                    </div>
                    <p class="tailLayout_text">Tư vấn bảo quản, nấu nướng (Kết nối Zalo)</p>
                    <div class="tailLayout_div_number">
                        <p class="tailLayout_number">03 678 23445</p>
                        <h6 style="margin:-2.5px 0 0 5px;">(Chi nhánh 1)</h6>
                    </div>
                    <p class="tailLayout_text" style="margin-top:10px;">Hỗ trợ thanh toán:</p>
                    <div class="tailLayout_div_number">
                        <p class="tailLayout_number">099 013 915 9999</p>
                        <h6 style="margin:-2.5px 0 0 5px;">(Ngân hàng MB)</h6>
                    </div>
                </div>
                @*Khoảng cách*@
                <div style="width: 30px;">
                </div>
                @*Vùng 2*@
                <div class="tailLayout_flex2" style="width:350px;padding: 20px">
                    <p class="tailLayout_text">Góp ý, khiếu nại dịch vụ (Kết nối Zalo)</p>
                    <p class="tailLayout_number">03 678 23445</p>
                </div>
                <div style="flex:2;">
                </div>
            </div>
        </div>
    </div>
    <script>
        //Setup
        $(document).ready(function ()
        {
            $('[data-toggle="tooltip"]').tooltip();
        });
        //Setup
        function login()
        {
           window.location = "/Account/Login";
        }
        function logout()
        {
            window.location = "/Account/Logout";
        }
        function goToMainHome(code)
        {
            $("#loading").show();
            window.location = "/Home/Seefood?code=" + code;
        }
    </script>
</body>
</html>
